absl-py==0.7.0
astor==0.7.1
cloudpickle==0.8.0
colored==1.3.93
cycler==0.10.0
dask==0.18.2
decorator==4.3.2
gast==0.2.2
google-pasta==0.1.7
grpcio==1.19.0
h5py==2.9.0
imageio==2.5.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==2.2.3
mock==2.0.0
networkx==2.2
numpy==1.16.2
opencv-python==4.0.0.21
pandas==0.24.2
pbr==5.1.2
Pillow==6.2.0
protobuf==3.6.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyWavelets==1.0.2
PyYAML==4.2b1
scikit-image==0.14.2
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
tensorboard==1.14.0
tensorflow==2.3.1
tensorflow-estimator==1.14.0
termcolor==1.1.0
toolz==0.9.0
virtualenv==16.4.3
Werkzeug==0.15.3
wrapt==1.11.2
